@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    background-color: pink;
  
}

header{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 5rem;
}

img{
    background-color: transparent;
}

div{
    display: flex;
    justify-content: center;
}